<h3 style="font-family: tahoma, sans-serif; margin: 0px; margin-bottom: 5px; font-size: 9pt; color: #FFFFFF" >[poll var=Question]</h3>

<form style="margin: 0px; text-align: left; font-family: tahoma, arial, serif; color: #FFFFFF; font-size: 9pt" action="https://drunkit.co.uk/php/vote" method="get">
<input type="hidden" name="a" value="vote">
[poll parse=Options]
<br>
<div style="text-align: center">
	<input type="submit" value="Vote" style="border: 1px solid #000080; color: #000000; background-color: #FFFFFF; font-family: tahoma, arial, serif; font-size: 9pt;">

	<input type="submit" value="View" name="viewResults" style="border: 1px solid #000080; color: #000000; background-color: #FFFFFF; font-family: tahoma, arial, serif; font-size: 9pt">
</div>
</form>
