<h1>New Article</h1>
<p style="margin: 0px">Post your reviews, lengthy opinions or ideoligical beliefs here on Drunkit!</p>
<p>
<form method="post" action="[var info=thisFileName]" style="margin: 0px">
<input type="hidden" name="a" value="newarticle" />

<table border="0" cellpadding="0" border="0">
	<tr>
		<td width="100" class="label">
			Title:
		</td>
		<td width="200">
			<input type=text name="Title" size="35" class="cooledit" value="" />
		</td>
	</tr>
	<tr>
		<td width="100" class="label">
			Description:
		</td>
		<td width=250>
			<input type="text" name="Description" size="35" value="" class="cooledit" />
		</td>
	</tr>
	<tr>
		<td width="100" valign="top" class="label">
			Article:
		</td>
		<td width="250">
			<textarea name="Article" COLS="55" ROWS="7" class="cooledit"></textarea>
		</td>
	</tr>
	<tr>
		<td witdh="100" valign="top">
			&nbsp;
		</td>
		<td width=250>
			[var htmlButton=submit?Create Article]
		</td>
	</tr>
</table>
</form>