	<tr>
		<td width="180" valign="top">
				<h2>Administration</h2>
				<p style="margin: 0px" class="smaller">Modify a user's details such as their profile or alias</p>
		</td>
		<td width="20" valign="middle">
			<form action="controlPanel.cgi" method="get" style="margin: 0px">
				<input type="hidden" name="area" value="admin"><input type="submit" value="Go &gt;" style="margin: 0px; color: #000000; background-color: #FFFFFF; border: #000080 1px solid; font-family: tahoma; font-size: 8pt; width: 35px">
			</form>
		</td>
		<td width="40">
			&nbsp;
		</td>
		<td width="180" valign="top">
				<h2>Reset passwords</h2>
				<p style="margin: 0px" class="smaller">Reset user's passwords here. Note, you should only do this if requested to.</p>
		</td>
		<td width="20" valign="middle">
			<form action="controlPanel.cgi" method="get" style="margin: 0px">
				<input type="hidden" name="area" value="resetpassword"><input type="submit" value="Go &gt;" style="margin: 0px; color: #000000; background-color: #FFFFFF; border: #000080 1px solid; font-family: tahoma; font-size: 8pt; width: 35px">
			</form>
		</td>
	</tr>
	<tr>
		<td width="180" valign="top">
			&nbsp;
		</td>
		<td width="20" valign="middle">
			&nbsp;
		</td>
		<td width="40">
			&nbsp;
		</td>
		<td width="180" valign="top">
			&nbsp;
		</td>
		<td width="20" valign="middle">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td width="180" valign="top">
				<h2>Polls</h2>
				<p style="margin: 0px" class="smaller">Create or edit polls, including user voting history and voting otpions</p>
		</td>
		<td width="20" valign="middle">
			<form action="controlPanel.cgi" method="get" style="margin: 0px">
				<input type="hidden" name="area" value="polls"><input type="submit" value="Go &gt;" style="margin: 0px; color: #000000; background-color: #FFFFFF; border: #000080 1px solid; font-family: tahoma; font-size: 8pt; width: 35px">
			</form>
		</td>
		<td width="40">
			&nbsp;
		</td>
		<td width="180" valign="top">
			&nbsp;
		</td>
		<td width="20" valign="middle">
			&nbsp;
		</td>
	</tr>
