<h1>Control Panel</h1>
<p style="margin: 0px">Use this control panel to configure your Drunkit experience!<p>

<table width="440" cellspacing="0" border="0" cellpadding="0">
	<tr>
		<td width="180" valign="top">
				<h2>Theme</h2>
				<p style="margin: 0px" class="smaller">Not happy with Drunkit's appearance? Choose another one!</p>
		</td>
		<td width="20" valign="middle">
			<form action="controlPanel.cgi" method="get" style="margin: 0px">
				<input type="hidden" name="area" value="themes"><input type="submit" value="Go &gt;" style="margin: 0px; color: #000000; background-color: #FFFFFF; border: #000080 1px solid; font-family: tahoma; font-size: 8pt; width: 35px">
			</form>
		</td>
		<td width="40">
			&nbsp;
		</td>
		<td width="180" valign="top">
				<h2>Password</h2>
				<p style="margin: 0px" class="smaller">If you believe anyone else knows your password, or you just wish to change it, do so here.</p>
		</td>
		<td width="20" valign="middle">
			<form action="controlPanel.cgi" method="get" style="margin: 0px">
				<input type="hidden" name="area" value="password"><input type="submit" value="Go &gt;" style="margin: 0px; color: #000000; background-color: #FFFFFF; border: #000080 1px solid; font-family: tahoma; font-size: 8pt; width: 35px">
			</form>
		</td>
	</tr>
	<tr>
		<td width="180" valign="top">
			&nbsp;
		</td>
		<td width="20" valign="middle">
			&nbsp;
		</td>
		<td width="40">
			&nbsp;
		</td>
		<td width="180" valign="top">
			&nbsp;
		</td>
		<td width="20" valign="middle">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td width="180" valign="top">
				<h2>Profile</h2>
				<p style="margin: 0px" class="smaller">Change details such as your drunkit alias, email and profile here.</p>
		</td>
		<td width="20" valign="middle">
			<form action="controlPanel.cgi" method="get" style="margin: 0px">
				<input type="hidden" name="area" value="profile"><input type="submit" value="Go &gt;" style="margin: 0px; color: #000000; background-color: #FFFFFF; border: #000080 1px solid; font-family: tahoma; font-size: 8pt; width: 35px">
			</form>
		</td>
		<td width="40">
			&nbsp;
		</td>
		<td width="180" valign="top">
				<h2>Feedback</h2>
				<p style="margin: 0px" class="smaller">Send feedback about the all new drunkit.co.uk.</p>
		</td>
		<td width="20" valign="middle">
			<form action="controlPanel.cgi" method="get" style="margin: 0px">
				<input type="hidden" name="area" value="feedback"><input type="submit" value="Go &gt;" style="margin: 0px; color: #000000; background-color: #FFFFFF; border: #000080 1px solid; font-family: tahoma; font-size: 8pt; width: 35px">
			</form>
		</td>
	<tr>
		<td width="180" valign="top">
			&nbsp;
		</td>
		<td width="20" valign="middle">
			&nbsp;
		</td>
		<td width="40">
			&nbsp;
		</td>
		<td width="180" valign="top">
			&nbsp;
		</td>
		<td width="20" valign="middle">
			&nbsp;
		</td>
	</tr>
	</tr>