	<tr>
		<td width="180" valign="top">
				<h2>Moderation</h2>
				<p style="margin: 0px" class="smaller">Moderate a user's profile or report issues to admin</p>
		</td>
		<td width="20" valign="middle">
			<form action="controlPanel.cgi" method="get" style="margin: 0px">
				<input type="hidden" name="area" value="moderation"><input type="submit" value="Go &gt;" style="margin: 0px; color: #000000; background-color: #FFFFFF; border: #000080 1px solid; font-family: tahoma; font-size: 8pt; width: 35px">
			</form>
		</td>
		<td width="40">
			&nbsp;
		</td>
		<td width="180" valign="top">
				&nbsp;
		</td>
		<td width="20" valign="middle">
			&nbsp;
		</td>
	</tr>
