<h1>Edit Profile</h1>
<p style="margin: 0px">Change this user's profile<p>

<form action="controlPanel.cgi" method="post">
	<input type="hidden" name="area" value="changeModProfile">
	<input type="hidden" name="usr" value="[var userParam]">

	<table width="300" cellspacing="5" cellpadding="0" border="0">
		<tr>
			<td width="200" class="label" align="right" valign="top">
				Profile:
			</td>
			<td>
				<textarea name="profile" class="cooledit" rows="3" cols="25">[var userInfo=Profile]</textarea>
			</td>
		</tr>
		<tr>
			<td width="200" class="label" align="right" valign="top">
				&nbsp;
			</td>
			<td>
				[var htmlButton=submit?Update]
			</td>
		</tr>
	</table>
</form>

<p>Go back to the <a href="controlPanel.cgi">control panel</a>.
