<h1>Password</h1>

<p style="margin: 0px">Change your password below.</p>

<form action="controlPanel.cgi" method="post">
	<input type="hidden" name="area" value="changePass">
	<table width="300" cellspacing="5" cellpadding="0" border="0">
		<tr>
			<td width="200" class="label" align="right">
				Old Password:
			</td>
			<td>
				<input type="password" name="oldPass" class="cooledit">
			</td>
		</tr>
		<tr>
			<td width="200" class="label" align="right">
				New Password:
			</td>
			<td>
				<input type="password" name="pass1" class="cooledit">
			</td>
		</tr>
		<tr>
			<td width="200" class="label" align="right">
				New Password (again!):
			</td>
			<td>
				<input type="password" name="pass2" class="cooledit">
			</td>
		</tr>
		<tr>
			<td width="200" class="label" align="right">
				&nbsp;
			</td>
			<td>
				[var htmlButton=submit?Change password]
			</td>
		</tr>
	</table>
</form>

<p>Go back to the <a href="controlPanel.cgi">control panel</a>.
