<h1>Password</h1>

<p style="margin: 0px">Change any user's password below.</p>

<form action="[var info=thisFileName]" method="post">
	<input type="hidden" name="area" value="changePass">
	<table width="300" cellspacing="5" cellpadding="0" border="0">
		<tr>
			<td width="200" class="label" align="right">
				Username:
			</td>
			<td>
				<select name="usr">
					[controlPanel addOption=users]
				</select>
			</td>
		</tr>
		<tr>
			<td width="200" class="label" align="right">
				New Password:
			</td>
			<td>
				<input type="password" name="pass1" class="cooledit">
			</td>
		</tr>
		<tr>
			<td width="200" class="label" align="right">
				New Password (again!):
			</td>
			<td>
				<input type="password" name="pass2" class="cooledit">
			</td>
		</tr>
		<tr>
			<td width="200" class="label" align="right">
				&nbsp;
			</td>
			<td>
				[var htmlButton=submit?Change password]
		</tr>
	</table>
</form>

<p>Go back to the <a href="[var info=thisFileName]">control panel</a>.
