	<tr>
		<td width="20" align="right" valign="top" class="label" style="text-align: center; font-size: 0.8em;">
			[poll parse=lineNumber].&nbsp;
		</td>
		<td width="105" valign="top" class="label" style="text-align: left; font-size: 0.8em;">
			<img src="[var info=themeDir]/components/Poll/images/poll.gif" alt="[poll parse=percent]%" title="[poll parse=CurrentLine] - [poll parse=votes] vote(s) - [poll parse=percent]%" height="8" style="width: [poll parse=halfpercent]px"> ([poll parse=percent]%)
		</td>
	</tr>
