<table cellpadding="0" cellspacing="5" border="0">
	<tr>
		<td style="text-align: center">
			<form action="[var info=thisFileName]" method="get" style="margin: 0px; position: relative;">
				<p style="margin: 0px">
					<input type="hidden" name="a" value="newmessage">
					[var htmlButton=submit?Post a message]
				</p>
			</form>
		</td>
		<td style="text-align: center">
			<form action="[var info=thisFileName]" method="get" style="margin: 0px; position: relative;">
				<p style="margin: 0px">
					<input type="hidden" name="a" value="viewall">
					[var htmlButton=submit?Check for more]
				</p>
			</form>
		</td>
		<td style="text-align: center">
			<form action="[var info=thisFileName]" method="get" style="margin: 0px; position: relative;">
				<p style="margin: 0px">
					<input type="hidden" name="a" value="search">
					[var htmlButton=submit?Find a message]
				</p>
			</form>
		</td>
	</tr>
</table>

<p>Viewing page [pagenumber] of [totalpages]. [previouspage] <span style="color: #E4E7EF;">|</span> [nextpage].</p>