H1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16pt;
    COLOR: #000000;
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 5px;
    FONT-FAMILY: serif
}
H2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #000000;
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 5px;
    FONT-FAMILY: serif
}
H3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 5px;
    FONT-FAMILY: serif
}
P, BODY
{
	font-family: serif
	font-size: 10pt;
	color: #000000;
	background-color: transparent;
	border: 0px;
}
.label {
	font-family: tahoma, arial, sans-serif;
	font-size: 10pt;
	color: #000000;
	background-color: transparent;
}



.smaller {
	font-family: tahoma, arial, sans-serif;
	font-size: 9pt;
	color: #000000;
	background-color: transparent;
}

.cooledit
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #f2ffb4
}
.coolbutton
{
}
.smallmain
{
    FONT-SIZE: 7pt;
    COLOR: white;
    FONT-FAMILY: comic sans ms,charcol,arial,Tahoma ,helvetica,helvetic
}
.buttonDown
{
}
.buttonOver
{

}

A:link
{
    COLOR: blue;
    TEXT-DECORATION: underline
}
A:visited
{
    COLOR: blue;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: red;
    TEXT-DECORATION: underline
}

.click
{
    CURSOR: default;
    Color: Black;
    TEXT-DECORATION: none
}

A.panelLink:link,A.panelLink:visited {
	font-weight: bold;
	height: 18px;
	border: 2px solid #812AA1;
	text-decoration: none;
	color: #FFFFFF;
	background-color: transparent;
}

A.panelLink:hover {
	border-color: #3D0D4F;
	color: #FFFFFF;
	background-color: #9D7BA9;
}

A.mb:link
{
    Color: blue;
}
A.mb:visited
{
    Color: purple;
}
A.mb:hover
{
    Color: red;
}
A.click:visited, A.click:link {
{
    Color: Black;
    CURSOR: default;
    TEXT-DECORATION: none
}
.whiteLink {
	color: white;
}
a.whiteLink:link, a.whiteLink:visited {
	color: white;
	text-decoration: none;
}
