<h1>[var name=FriendlyName]</h1><br>
<table width="500" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td valign="top" width="10">
			&nbsp;
		</td>
		<td valign="top" width="100" align="right">
			Username:
		</td>
		<td valign="top" width="10">
			&nbsp;
		</td>
		<td valign="top" width="280">
			[var profileInfo=UserName]
		</td>
	</tr>
	<tr>
		<td valign="top" width="10">
			&nbsp;
		</td>
		<td valign="top" width="100" align="right">
			Details:
		</td>
		<td valign="top" width="10">
			&nbsp;
		</td>
		<td valign="top" width="280">
			[var parseHexandHtml=Profile]
		</td>
	</tr>
</table>