<h1>Post a comment</h1>
<p style="margin: 0px">Post your comments to the article titled &quot;[var name=Title]&quot;.</p>


<form action="[var info=thisfilename]" method="post">
<input type="hidden" name="a" value="writeComment">
<input type="hidden" name="id" value="[var info=threadNumber]">
<table width="400" cellspacing="0" cellpadding="0">
	<tr>
		<td width="25">&nbsp;</td>
		<td class="label" valign="top" width="75">
			Comments:
		</td>
		<td class="label" valign="top" width="300">
			<textarea name="comments" class="cooledit" rows="6" cols="30"></textarea>
		</td>
	</tr>
	<tr>
		<td width="25">&nbsp;</td>
		<td class="label" valign="top" width="75">
			&nbsp;
		</td>
		<td class="label" valign="top" width="300">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td width="25">&nbsp;</td>
		<td class="label" valign="top" width="75">
			&nbsp;
		</td>
		<td class="label" valign="top" width="300">
			[var htmlButton=submit?Post Comments]
		</td>
	</tr>
</table>
</form>