<h1>Sign up</h1>
<p style="margin: 0px">Thanks for setting up a Drunkit account! Simply fill out this brief form to become a member of a thriving online community!<p>

Note: An * means that the field is required. We ask for your email address only so we may mail your password to you if you lose or forget it.

<form method="post" action="messages">
<input type="hidden" name="a" value="newAccount">
<table width="500" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td width="250" class="label" align=right>
			* Desired Username:
		</td>
		<td width="5">
			&nbsp;
		</td>
		<td>
			<input type="text" class="cooledit" name="userName" size="15">
		</td>
	</tr>
	<tr>
		<td width="250" class="label" align=right>
			* Password:
		</td>
		<td width="5">
			&nbsp;
		</td>
		<td>
			<input type="password" class="cooledit" name="Password1" size="15">
		</td>
	</tr>
	<tr>
		<td width="250" class="label" align=right>
			* That password again:
		</td>
		<td width="5">
			&nbsp;
		</td>
		<td>
			<input type="password" class="cooledit" name="Password2" size="15">
		</td>
	</tr>
	<tr>
		<td width="250" class="label" align=right>
			* Nickname:
		</td>
		<td width="5">
			&nbsp;
		</td>
		<td>
			<input type="text" class="cooledit" name="FriendlyName" size="15">
		</td>
	</tr>
	<tr>
		<td width="250" class="label" align=right>
			Email address:
		</td>
		<td width="5">
			&nbsp;
		</td>
		<td>
			<input type="text" class="cooledit" name="email" size="15">
		</td>
	</tr>
	<tr>
		<td width="250" class="label" align="right" valign="top">
			A bit about yourself:
		</td>
		<td width="5">
			&nbsp;
		</td>
		<td>
			<textarea name="profile" class="cooledit" rows="3" cols="25"></textarea>
		</td>
	</tr>
	<tr>
		<td width="250" class="label" align="right" valign="top">
			<br><br>
		</td>
		<td width="5">
			&nbsp;
		</td>
		<td>
				<input type="submit" ONMOUSEOVER="this.className='buttonOver'" ONMOUSEOUT="this.className='coolbutton'" class=coolbutton value="Sign Up" ONMOUSEDOWN=this.className='buttonDown' ONMOUSEUP=this.className='buttonover'>
		</td>
	</tr>
</table>
</form>